///Variables///


//Colors//
$light-grey: #e5e5e5;
$light-blue: #4e5d6c;
$dark-blue: #2b3e50;
$main-orange: #df691a;

//Borders and fonts//
$basic-clear-border : 1px solid $light-grey;
$basic-dark-border : 1px solid $light-blue;
