<div class="col-xs-12 character-sheet edit">
  <div class="col-xs-5">
    <h4>Puntos de desarrollo: {{vmSheet.desPts}}</h4>
  </div>
  <div class="col-xs-2 btn-group">
    <button type="button" class="btn btn-default" ng-click="vmSheet.removeHabPts()" ng-disabled="vmSheet.habPts < 4"><span class="glyphicon glyphicon-chevron-left"></span></button>
    <button type="button" class="btn btn-default" ng-disabled="vmSheet.desPts <= 0" ng-click="vmSheet.addHabPts()"><span class="glyphicon glyphicon-chevron-right"></span></button>
  </div>
  <div class="col-xs-5">
    <h4>Puntos de habilidad: {{vmSheet.habPts}}</h4>
  </div>
  <div class="clearfix"></div>
  <div class="panel panel-primary">
    <div class="panel-heading" ng-click="chGeneralCollapsed = !chGeneralCollapsed">
      <h3 class="panel-title">Datos generales<span class="pull-right glyphicon glyphicon" ng-class="chGeneralCollapsed ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"></span></h3>
    </div>
    <div class="panel-body" uib-collapse="chGeneralCollapsed">
      <div class="row">
        <form class="form-horizontal">
          <div class="form-group col-xs-12 col-sm-8">
            <label for="name" class="control-label col-xs-4 col-sm-3">Imagen (url):</label>
            <div class="col-xs-8 col-sm-9">
              <input type="text" class="form-control" id="imgUrl" ng-model="vmSheet.character.imgUrl">
            </div>
          </div>
          <div class="form-group hidden-xs col-sm-4" id="ch-image">
            <img ng-src="{{vmSheet.character.imgUrl}}" alt="{{vmSheet.character.name}}" class="img-responsive pull-right"/>
          </div>
          <div class="form-group col-xs-12">
            <label for="description" class="control-label col-xs-4 col-sm-2">Descripción:</label>
            <div class="col-xs-8 col-sm-10">
              <textarea class="form-control" id="player" ng-model="vmSheet.character.description"></textarea>
            </div>
          </div>
          <div class="form-group col-xs-12 col-sm-6">
            <label for="player" class="control-label col-xs-4">Nombre del jugador:</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="player" ng-model="vmSheet.character.player">
            </div>
          </div>
          <div class="form-group col-xs-12 col-sm-6">
            <label for="name" class="control-label col-xs-4">Nombre del personje:</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="name" ng-model="vmSheet.character.name">
            </div>
          </div>
          <div class="form-group col-xs-12 col-sm-6">
            <label for="race" class="control-label col-xs-4">Raza:</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="race" ng-model="vmSheet.character.race">
            </div>
          </div>
          <div class="form-group col-xs-12 col-sm-6">
            <label for="height" class="control-label col-xs-3">Altura:</label>
            <div class="col-xs-3">
              <input type="number" class="form-control" id="height" ng-model="vmSheet.character.height">
            </div>
            <label for="weight" class="control-label col-xs-3">Peso:</label>
            <div class="col-xs-3">
              <input type="number" class="form-control" id="weight" ng-model="vmSheet.character.weight">
            </div>
          </div>
          <div class="form-group col-xs-12 col-sm-4">
            <div class="checkbox right-checkbox">
              <label class="control-label">Sensible a la fuerza <input type="checkbox" ng-model="vmSheet.character.sensitive" ng-change="vmSheet.changeSensitive()"></label>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4">
            <p>
              <span class="bold">Puntos del lado luminoso: </span>
              <span ng-bind="vmSheet.character.forcePts"></span>
            </p>
          </div>
          <div class="col-xs-6 col-sm-4">
            <p>
              <span class="bold">Puntos del lado oscuro: </span>
              <span ng-bind="vmSheet.character.darKSidePts"></span>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading" ng-click="chAttributesCollapsed = !chAttributesCollapsed">
      <h3 class="panel-title">Atributos<span class="pull-right glyphicon glyphicon" ng-class="chAttributesCollapsed ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"></span></h3>
    </div>
    <div class="panel-body" uib-collapse="chAttributesCollapsed">
      <div class="row">
        <form class="form-horizontal">
          <div class="form-group col-xs-12">
            <label for="att-des" class="control-label col-xs-3">Destreza:</label>
            <div class="col-xs-1">
              <input type="number" step="1" min="-4" max="4" class="form-control" id="att-des" ng-model="vmSheet.character.attributes.des[0]" ng-change="vmSheet.changeAttr(vmSheet.character)">
            </div>
            <label for="att-con" class="control-label col-xs-3">Conocimientos:</label>
            <div class="col-xs-1">
              <input type="number" step="1" min="-4" max="4" class="form-control" id="att-con" ng-model="vmSheet.character.attributes.con[0]" ng-change="vmSheet.changeAttr(vmSheet.character)">
            </div>
            <label for="att-mec" class="control-label col-xs-3">Mecánica:</label>
            <div class="col-xs-1">
              <input type="number" step="1" min="-4" max="4" class="form-control" id="att-mec" ng-model="vmSheet.character.attributes.mec[0]" ng-change="vmSheet.changeAttr(vmSheet.character)">
            </div>
          </div>
          <div class="form-group col-xs-12">
            <label for="att-per" class="control-label col-xs-3">Percepcion:</label>
            <div class="col-xs-1">
              <input type="number" step="1" min="-4" max="4" class="form-control" id="att-per" ng-model="vmSheet.character.attributes.per[0]" ng-change="vmSheet.changeAttr(vmSheet.character)">
            </div>
            <label for="att-for" class="control-label col-xs-3">Fortaleza:</label>
            <div class="col-xs-1">
              <input type="number" step="1" min="-4" max="4" class="form-control" id="att-for" ng-model="vmSheet.character.attributes.for[0]" ng-change="vmSheet.changeAttr(vmSheet.character)">
            </div>
            <label for="att-tec" class="control-label col-xs-3">Técnica:</label>
            <div class="col-xs-1">
              <input type="number" step="1" min="-4" max="4" class="form-control" id="att-tec" ng-model="vmSheet.character.attributes.tec[0]" ng-change="vmSheet.changeAttr(vmSheet.character)">
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="col-xs-6">
              <p>
                <span class="bold">Factor ofensivo base: </span>
                <span ng-bind="vmSheet.character.attributes.foBase"></span>
              </p>
            </div>
            <div class="col-xs-6">
              <p>
                <span class="bold">Factor defensivo base: </span>
                <span ng-bind="vmSheet.character.attributes.fdBase"></span>
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="col-xs-6">
              <p>
                <span class="bold">Iniciativa: </span>
                <span ng-bind="vmSheet.character.attributes.ini"></span>
              </p>
            </div>
            <div class="col-xs-6">
              <p>
                <span class="bold">Movimiento: </span>
                <span ng-bind="vmSheet.character.attributes.mov"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading" ng-click="chTrackingCollapsed = !chTrackingCollapsed">
      <h3 class="panel-title">Rastreo de combate<span class="pull-right glyphicon glyphicon" ng-class="chTrackingCollapsed ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"></span></h3>
    </div>
    <div class="panel-body" uib-collapse="chTrackingCollapsed">
      <div class="row">
        <div class="col-xs-12">
          <table class="table stripped-table">
            <tr>
              <th>Rastreo</th>
              <td ng-repeat="cell in vmSheet.character.healthAndFatigue" class="text-center">
                <span ng-bind="cell.trackingFrom"></span>
                <span ng-if="cell.trackingTo"> - {{cell.trackingTo}}</span>
              </td>
            </tr>
            <tr>
              <th>Heridas</th>
              <td ng-repeat="cell in vmSheet.character.healthAndFatigue" class="text-center">
                <span ng-repeat-n="cell.points">O</span>
              </td>
            </tr>
            <tr>
              <th>Fatiga</th>
              <td ng-repeat="cell in vmSheet.character.healthAndFatigue" class="text-center">
                <span ng-repeat-n="cell.points">O</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading" ng-click="chHabilitiesCollapsed = !chHabilitiesCollapsed">
      <h3 class="panel-title">Habilidades<span class="pull-right glyphicon glyphicon" ng-class="chHabilitiesCollapsed ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"></span></h3>
    </div>
    <div class="panel-body" uib-collapse="chHabilitiesCollapsed">
      <div class="row">
        <div class="col-xs-12 nowrap-labels" ng-repeat="(key, value) in vmSheet.character.habilities" ng-if="$index < 6">
          <p>Habilidades dependientes de <span class="force-lowercase text-warning">{{'habilities-translations.' + key + '.main' | translate}}</span></p>
          <form class="form-horizontal">
            <div class="row">
              <div class="form-group col-xs-6 col-sm-4" ng-repeat="(hab, val) in value">
                <label for="{{hab}}" class="control-label col-xs-8">{{'habilities-translations.' + key + '.' + hab | translate}}:</label>
                <div class="col-xs-4">
                  <input type="number" min="-4" max="4" class="form-control" id="{{hab}}" ng-model="vmSheet.character.habilities[key][hab][0]" ng-disabled="hab === 'sableDeLuz' && !vmSheet.character.sensitive" ng-change="vmSheet.changeHab(vmSheet.character)">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-xs-12 nowrap-labels" ng-if="vmSheet.character.sensitive">
          <p>Habilidades de la <span class="force-lowercase text-warning">fuerza</span></p>
          <form class="form-horizontal">
            <div class="row">
              <div class="form-group col-xs-6 col-sm-4" ng-repeat="(hab, val) in vmSheet.character.habilities.force">
                <label for="{{hab}}" class="control-label col-xs-8">{{'habilities-translations.force.' + hab | translate}}:</label>
                <div class="col-xs-4">
                  <input type="number" min="-4" max="4" class="form-control" id="{{hab}}" ng-model="vmSheet.character.habilities.force[hab][0]" ng-change="vmSheet.changeHab(vmSheet.character)">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-info" id="ch-others">
    <div class="panel-heading" ng-click="chOthersCollapsed = !chOthersCollapsed">
      <h3 class="panel-title">Otros<span class="pull-right glyphicon glyphicon" ng-class="chOthersCollapsed ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"></span></h3>
    </div>
    <div class="panel-body" uib-collapse="chOthersCollapsed">
      <div class="row">
        <div class="col-xs-12">
          <p class="bold">
            Dones
          </p>
          <form class="form-horizontal">
          <table class="table">
            <tr>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Afecta a...</th>
              <th>En...puntos</th>
              <th>Coste</th>
              <th><button type="button" name="button" class="btn btn-success" ng-click="vmSheet.addSpecial('gifts')">Añadir</button></th>
            </tr>
            <tr ng-repeat="gift in vmSheet.character.gifts">
              <td>
                <input type="text" class="form-control" ng-model="gift.name">
              </td>
              <td>
                <input type="text" class="form-control" ng-model="gift.description">
              </td>
              <td>
                <select class="form-control" ng-model="gift.effect[0]" ng-change="vmSheet.changeSpecial(vmSheet.character)" ng-options="hability.key as hability.translation | translate for hability in vmSheet.attributesAndHabilities | orderBy : 'translation | translate' "></select>
              </td>
              <td>
                <input type="number" min="-4" max="4" class="form-control" ng-model="gift.effect[1]" ng-change="vmSheet.changeSpecial(vmSheet.character)">
              </td>
              <td>
                <input type="number" min="-2" max="2" class="form-control" ng-model="gift.cost" ng-change="vmSheet.changeSpecial(vmSheet.character)">
              </td>
              <td>
                <button type="button" name="button" class="btn btn-danger" ng-click="vmSheet.deleteSpecial('gifts', gift)">Eliminar</button>
              </td>
            </tr>
          </table>
        </form>
      </div>
      <div class="col-xs-12">
        <p class="bold">
          Defectos
        </p>
        <form class="form-horizontal">
        <table class="table">
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Afecta a...</th>
            <th>En...puntos</th>
            <th>Coste</th>
            <th><button type="button" name="button" class="btn btn-success" ng-click="vmSheet.addSpecial('defaults')">Añadir</button></th>
          </tr>
          <tr ng-repeat="default in vmSheet.character.defaults">
            <td>
              <input type="text" class="form-control" ng-model="default.name">
            </td>
            <td>
              <input type="text" class="form-control" ng-model="default.description">
            </td>
            <td>
              <select class="form-control" ng-model="default.effect[0]" ng-change="vmSheet.changeSpecial(vmSheet.character)" ng-options="hability.key as hability.translation | translate for hability in vmSheet.attributesAndHabilities | orderBy : 'translation | translate' "></select>
            </td>
            <td>
              <input type="number" min="-4" max="4" class="form-control" ng-model="default.effect[1]" ng-change="vmSheet.changeSpecial(vmSheet.character)">
            </td>
            <td>
              <input type="number" min="-2" max="2" class="form-control" ng-model="default.cost" ng-change="vmSheet.changeSpecial(vmSheet.character)">
            </td>
            <td>
              <button type="button" name="button" class="btn btn-danger" ng-click="vmSheet.deleteSpecial('defaults', default)">Eliminar</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div class="col-xs-12">
      <p class="bold">
        Características raciales
      </p>
      <form class="form-horizontal">
      <table class="table">
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Afecta a...</th>
          <th>En...puntos</th>
          <th>Coste</th>
          <th><button type="button" name="button" class="btn btn-success" ng-click="vmSheet.addSpecial('raceChar')">Añadir</button></th>
        </tr>
        <tr ng-repeat="raceChar in vmSheet.character.raceChar">
          <td>
            <input type="text" class="form-control" ng-model="raceChar.name">
          </td>
          <td>
            <input type="text" class="form-control" ng-model="raceChar.description">
          </td>
          <td>
            <select class="form-control" ng-model="raceChar.effect[0]" ng-change="vmSheet.changeSpecial(vmSheet.character)" ng-options="hability.key as hability.translation | translate for hability in vmSheet.attributesAndHabilities | orderBy : 'translation | translate' "></select>
          </td>
          <td>
            <input type="number" min="-4" max="4" class="form-control" ng-model="raceChar.effect[1]" ng-change="vmSheet.changeSpecial(vmSheet.character)">
          </td>
          <td>
            <input type="number" min="-2" max="2" class="form-control" ng-model="raceChar.cost" ng-change="vmSheet.changeSpecial(vmSheet.character)">
          </td>
          <td>
            <button type="button" name="button" class="btn btn-danger" ng-click="vmSheet.deleteSpecial('raceChar', raceChar)">Eliminar</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
    </div>
  </div>
</div>

<div class="panel panel-info" id="ch-equipment">
  <div class="panel-heading" ng-click="chEquipmentCollapsed = !chEquipmentCollapsed">
    <h3 class="panel-title">Equipo<span class="pull-right glyphicon glyphicon" ng-class="chEquipmentCollapsed ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"></span></h3>
  </div>
  <div class="panel-body" uib-collapse="chEquipmentCollapsed">
    <div class="row">
      <div class="col-xs-12">
        <p class="bold">
          Armas
        </p>
        <form class="form-horizontal">
        <table class="table">
          <tr>
            <th>Nombre</th>
            <th>FO</th>
            <th colspan="4">Rango</th>
            <th>Notas/descripción</th>
            <th><button type="button" name="button" class="btn btn-success" ng-click="vmSheet.addWeapon()">Añadir</button></th>
          </tr>
          <tr ng-repeat="item in vmSheet.character.weapons">
            <td>
              <input type="text" class="form-control" ng-model="item.name">
            </td>
            <td>
              <input type="number" class="form-control" ng-model="item.fo">
            </td>
            <td><input type="number" class="form-control" ng-model="item.range[0]"></td>
            <td><input type="number" class="form-control" ng-model="item.range[1]"></td>
            <td><input type="number" class="form-control" ng-model="item.range[2]"></td>
            <td><input type="number" class="form-control" ng-model="item.range[3]"></td>
            <td>
              <input type="text" class="form-control" ng-model="item.notes">
            </td>
            <td>
              <button type="button" name="button" class="btn btn-danger" ng-click="vmSheet.deleteEquipment('weapons', item)">Eliminar</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
      <div class="col-xs-12">
        <p class="bold">
          Armaduras
        </p>
        <form class="form-horizontal">
        <table class="table">
          <tr>
            <th>Nombre</th>
            <th>FD</th>
            <th>Notas/descripción</th>
            <th><button type="button" name="button" class="btn btn-success" ng-click="vmSheet.addArmour()">Añadir</button></th>
          </tr>
          <tr ng-repeat="item in vmSheet.character.armour">
            <td>
              <input type="text" class="form-control" ng-model="item.name">
            </td>
            <td>
              <input type="number" class="form-control" ng-model="item.fd">
            </td>
            <td>
              <input type="text" class="form-control" ng-model="item.notes">
            </td>
            <td>
              <button type="button" name="button" class="btn btn-danger" ng-click="vmSheet.deleteEquipment('armour', item)">Eliminar</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
      <div class="col-xs-12">
        <p class="bold">
          Otros
        </p>
        <form class="form-horizontal">
        <table class="table">
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th><button type="button" name="button" class="btn btn-success" ng-click="vmSheet.addEquipment()">Añadir</button></th>
          </tr>
          <tr ng-repeat="item in vmSheet.character.equipment">
            <td>
              <input type="text" class="form-control" ng-model="item.name">
            </td>
            <td>
              <input type="text" class="form-control" ng-model="item.description">
            </td>
            <td>
              <button type="button" name="button" class="btn btn-danger" ng-click="vmSheet.deleteEquipment('equipment', item)">Eliminar</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
    </div>
  </div>
</div>
</div>
